if username != undefined
	script.
		map.data.setMap(null);
		
		var SpotLocation;
		var SpotLocationArr = [0,0];
		function placeMarker(location) {
			if ( SpotLocation ) {
				SpotLocation.setMap(map)
				SpotLocation.setPosition(location);
				SpotLocationArr[0] = location.lng();
				SpotLocationArr[1] = location.lat();
				$("#formlatlon").val(SpotLocationArr)
			} else {
				SpotLocation = new google.maps.Marker({
				position: location,
				map: map,
				draggable: true
			});
			
			SpotLocationArr[0] = location.lng();
			SpotLocationArr[1] = location.lat();
			$("#formlatlon").val(SpotLocationArr)

			SpotLocation.addListener('dragend', function(event) {
				SpotLocationArr[0] = SpotLocation.getPosition().lng();
				SpotLocationArr[1] = SpotLocation.getPosition().lat();
				$("#formlatlon").val(SpotLocationArr)
			});
			}
		}

		addMarkerListener = map.addListener('click', function(event) {
			placeMarker(event.latLng);
		});

	script.
		$(document).ready(function() {
			$("#cancelbutton").click(function(){
				google.maps.event.clearListeners(map, 'click');
				if(SpotLocation){SpotLocation.setMap(null)}	
				window.map.data.setMap(map);

				$('#content').html('<p>Welcome to Spotdataba.se, your premier source for blade spots.</p>')
			})

			$("#setposition").click(function(){
				navigator.geolocation.getCurrentPosition(function(position) {
					userposition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
					map.setCenter(userposition)
					placeMarker(userposition)
				})
			})

			$("#addspotinput").submit(function(event) {
				
				event.preventDefault();

				var inputData = new FormData(this);
				console.log(inputData)

				if ($('#formlatlon').val() == "" || $('#formlatlon').val() == "latlon" ||
					$('#spotName').val() == "" ||
					$('#spotType').val() == "" ||
					$('#spotDescription').val() == "" ||
					$('#spotPhotoFile').val() == "") {
					$('#submitSpot').text('Oops, looks like you forgot something!')
				} else {
					$('#content').html('<p>Adding your spot, this may take a few seconds</p>')
					$.ajax({
						url: '/addspot',
						data: inputData,
						processData: false,
						contentType: false,
						type: 'POST'
					}).done(function(result){
						google.maps.event.clearListeners(map, 'click');
						window.SpotLocation.setMap(null);
						window.map.data.loadGeoJson('/skatespots.json')
						window.map.data.setMap(map);
						$('#content').load('/getspotinfo/' + result)
					}).fail(function(){
						$('#content').html('<p>There was an error processing the spot, please try again!</p>')
					})
				}
			})
		});

	div(id="addspotform")
		h2 Add a spot
		p Click anywhere on the map to drop the location pin for the spot.
		button(id="setposition") Place pin on current location

		form(id="addspotinput" enctype="multipart/form-data" method="post" action="/addspot")
			input(type="hidden" id="formlatlon" name="latlon" value="latlon")

			label Spot name
			input(type="text" id="spotName" name="spotName" placeholder="Name  (required)")
			br
			
			label Spot type
			select(id="spotType" name="spotType")
				option(value="rail") Rail
				option(value="curb") Curb
				option(value="ledge") Ledge
				option(value="park") Park
				option(value="bank") Bank
				option(value="shop") Shop
				option(value="general") General
			br
			
			label Spot description
			input(type="text" id="spotDescription" name="spotDescription" placeholder="Description (required)")
			br

			label Spot photo
			input(type="file" name="spotPhotoFile" id="spotPhotoFile" accept="image/*")
			br
			
			label Video link
			input(type="text" id="videoLink" name="videoLink" placeholder="Video")
			br
			
			label Video Time
			input(type="text" id="videoTime" name="videoTime" placeholder="Time")
			br
			
			button(type="submit" id="submitSpot") Add Spot
		button(id="cancelbutton") Cancel
else
	p Please login or register to add spots to the database!