script(type='text/javascript').
	map.data.setMap(null);

	var UserLocation;
	var UserLocationArr = [0,0];

	function placeMarker(location) {
		if ( UserLocation ) {
			UserLocation.setPosition(location);
			UserLocationArr[0] = location.lng();
			UserLocationArr[1] = location.lat();
			$("#formlatlon").val(UserLocationArr)
		} else {
			UserLocation = new google.maps.Marker({
				position: location,
				map: map,
				draggable: true
			});
			
			UserLocationArr[0] = location.lng();
			UserLocationArr[1] = location.lat();
			$("#formlatlon").val(UserLocationArr)
				UserLocation.addListener('dragend', function(event) {
				UserLocationArr[0] = UserLocation.getPosition().lng();
				UserLocationArr[1] = UserLocation.getPosition().lat();
				$("#formlatlon").val(UserLocationArr)
			});
		}
	}

	map.addListener('click', function(event) {
		placeMarker(event.latLng);
	});

div(id="adduserform")
	h2 Register
	form(name="addUser" action="/register" method="post")
		input(type="text" id="formlatlon" name="latlon" value="latlon")
		br
		input(type="text" name="userName" placeholder="Username")
		br
		input(type="password" name="userPassword" placeholder="password")
		br
		input(type="text" name="userEmail" placeholder="Email")
		br
		input(type="text" name="userFirstName" placeholder="First Name")
		br
		input(type="text" name="userLastName" placeholder="Last Name")
		br
		button(type="submit" id="submitRegistration") Register