script.
	function validateEmail(email) {
		var re = /\S+@\S+\.\S+/;
		return re.test(email);
	}

	$("#cancelbutton").click(function() {
		$('#content').html('<p>Welcome to Spotdataba.se, your premier source for blade spots.</p>')
	})
	
	$("#submitRegistration").click(function(event) {
		event.preventDefault();
		if($('#userName').val() == "" || $('#userPassword').val() == "" || $('#userEmail').val() == "" || $('#userFirstName').val() == "" || $('#userLastName').val() == ""){
				$('#registermessages').html('<p>Please fill in all fields!</p>')
		}else if(!validateEmail($('#userEmail').val())){
			$('#registermessages').html('<p>Use an actual email address</p>')
		}else{
			$.post('/register', {
				userName: $('#userName').val(),
				userPassword: $('#userPass').val(),
				userEmail: $('#userEmail').val(),
				userFirstName: $('#userFirstName').val(),
				userLastName: $('#userLastName').val()
			}).done(function(response) {
				if(response == 'success'){
					$('#userdetails').load('/userdetails')
					$('#content').html('<p>Succesfully registered!</p>')
				} else{
					$('#content').append(response)
				}
			})
		}
	});

div(id="adduserform")
	div(id="registermessages")
	h2 Register
	form(id="adduserform")
		label Username
		input(type="text" id="userName" placeholder="Username")
		br

		label Password
		input(type="password" id="userPassword" placeholder="password")
		br

		label Email Address
		input(type="text" id="userEmail" placeholder="Email")
		br

		label First Name
		input(type="text" id="userFirstName" placeholder="First Name")
		br

		label Last Name
		input(type="text" id="userLastName" placeholder="Last Name")
		br
		button(type="submit" id="submitRegistration") Register
	button(id="cancelbutton") Cancel