script.
	function validateEmail(email) {
		var re = /\S+@\S+\.\S+/;
		return re.test(email);
	}

	$("#submitRegistration").click(function() {
		if($('#userName').val() == "" || $('#userPassword').val() == "" || $('#userEmail').val() == "" || $('#userFirstName').val() == "" || $('#userLastName').val() == ""){
				$('#submitRegistration').text('Please fill in all fields!')
		}else if(!validateEmail($('#userEmail').val())){
			$('#submitRegistration').text('Use an actual email address')
		}else{
			$.post('/register', {
				userName: $('#userName').val(),
				userPassword: $('#userPass').val(),
				userEmail: $('#userEmail').val(),
				userFirstName: $('#userFirstName').val(),
				userLastName: $('#userLastName').val()
			}).done(function(response) {
				if(response == 'success'){
					$('#userdetails').load('/userdetails')
					$('#content').html('Succesfully registered!')
				} else{
					$('#content').append(response)
				}
			})
		}
	});

div(id="adduserform")
	h2 Register
	input(type="text" id="userName" placeholder="Username")
	br
	input(type="password" id="userPassword" placeholder="password")
	br
	input(type="text" id="userEmail" placeholder="Email")
	br
	input(type="text" id="userFirstName" placeholder="First Name")
	br
	input(type="text" id="userLastName" placeholder="Last Name")
	br
	button(type="submit" id="submitRegistration") Register