doctype html
html
	head
		link(rel='stylesheet' href='/css/style.css')
		script(src='https://code.jquery.com/jquery-2.2.0.min.js')
	body
		#container
			#header
				span Spotdataba.se
				span(id="separator")
				#navigation
					button(id="addspotbutton") Add spot
				span(id="separator")
				#userdetails
			#mapcontainer
				#map
					script.
						$( document ).ready(function() {
							$('#userdetails').load('/userdetails')
							
							$('#addspotbutton').click(function(){
								$('#content').load('/addspot')
								$('#content').show()
								$('#minimalize').show();
								$('#maximalize').hide();
							})
							
							$('#minimalize').click(function(event){
								event.preventDefault()
								$('#content').toggle();
								$('#minimalize').toggle();
								$('#maximalize').toggle();
								spotopen = false;
							})

							$('#maximalize').click(function(event){
								event.preventDefault()
								$('#content').toggle();
								$('#minimalize').toggle();
								$('#maximalize').toggle();
							})
						})

					script(type='text/javascript').
						var spotopen = false;

						var map;
						
						function initMap() {
						
						map = new google.maps.Map(document.getElementById('map'), {
						center: {lat: 52.369, lng: 4.90},
						zoom: 14
						});

						map.data.loadGeoJson('/skatespots.json')

						map.data.setStyle(function(feature) {
							var type = feature.getProperty('type');
							var iconurl;
							if(type == 'rail'){
								iconurl = '/icons/rail.png';
							} else if(type == 'curb'){
								iconurl = '/icons/curb.png'
							} else if(type == 'ledge'){
								iconurl = '/icons/ledge.png'
							} else if(type == 'bank'){
								iconurl = '/icons/bank.png'
							} else if(type == 'park'){
								iconurl = '/icons/park.png'
							} else if(type == 'shop'){
								iconurl = '/icons/shop.png'
							} else{
								iconurl = '/icons/general.png'
							}
							return {
								icon: iconurl
							};
						});

						// Geolocation --> do you want to start the user zoomed in at current location?
						//- navigator.geolocation.getCurrentPosition(function(position) {
						//- 	userposition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
						//- 	map.setCenter(userposition)
						//- })

						map.data.addListener('click', function(event) {
							if(spotopen){
							 	spotopen = false;
							 	$('#content').hide()
							 	$('#minimalize').hide();
							 	$('#maximalize').show();
							}else{
								$('#content').load('/getspotinfo/'+event.feature.R.id)
								$('#content').show()
								$('#minimalize').show();
								$('#maximalize').hide();
								spotopen = true;
							}
						});
						}

					script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDmSbvLztiTx63qBwEO3JIzGZWWMmIYTh0&callback=initMap')
					
			#main
				div(id="minimalize")
					a(href="#") x
				div(id="maximalize")
					a(href="#") +
				#contentcontainer
					#content
						p Welcome to Spotdataba.se, your premier source for blade spots.