doctype html
html
	head
		link(rel='stylesheet' href='/css/style.css')
		script(src='https://code.jquery.com/jquery-2.2.0.min.js')
		meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, user-scalable=0")
		link(rel="icon" type="image/png" href="/icons/logo.png" sizes="160x160")
		title Spotdataba.se
	body
		#container
			#header
				#headerlogo
					img(src="/icons/logo.png")
				span(class="separator")
				#navigation
					a(href="#" id="addspotbutton")
						span Add spot
				span(class="separator")
				#userdetails
			#mapcontainer
				#map
					script.
						$( document ).ready(function() {
							$('#userdetails').load('/userdetails')
							
							$('#addspotbutton').click(function(){
								event.preventDefault();
								$('#main').css('width', '40%')	
								$('#content').load('/addspot')
								$('#content').show()
								$('#minimalize').show();
								$('#maximalize').hide();
							})
							
							$('#minimalize').click(function(event){
								event.preventDefault()
								$('#main').css('width', '10%')	
								$('#content').toggle();
								$('#minimalize').toggle();
								$('#maximalize').toggle();
								spotopen = false;
							})

							$('#maximalize').click(function(event){
								event.preventDefault()
								$('#main').css('width', '40%')
								$('#content').toggle();
								$('#minimalize').toggle();
								$('#maximalize').toggle();
							})
						})

					script(type='text/javascript').
						var spotopen = false;

						var map;
						
						function initMap() {
						
						map = new google.maps.Map(document.getElementById('map'), {
						center: {lat: 52.369, lng: 4.90},
						zoom: 14, styles: [{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"visibility":"off"}]}]
						});

						map.data.loadGeoJson('/skatespots.json')

						map.data.setStyle(function(feature) {
							var type = feature.getProperty('type');
							var iconurl;
							if(type == 'rail'){
								iconurl = '/icons/rail.png';
							} else if(type == 'curb'){
								iconurl = '/icons/curb.png'
							} else if(type == 'ledge'){
								iconurl = '/icons/ledge.png'
							} else if(type == 'bank'){
								iconurl = '/icons/bank.png'
							} else if(type == 'park'){
								iconurl = '/icons/park.png'
							} else if(type == 'shop'){
								iconurl = '/icons/shop.png'
							} else{
								iconurl = '/icons/general.png'
							}
							return {
								icon: iconurl
							};
						});

						// Geolocation --> do you want to start the user zoomed in at current location?
						//- navigator.geolocation.getCurrentPosition(function(position) {
						//- 	userposition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
						//- 	map.setCenter(userposition)
						//- })

						map.data.addListener('click', function(event) {
							if(spotopen){
							 	spotopen = false;
							 	$('#main').css('width', '10%')	
							 	$('#content').hide()
							 	$('#minimalize').hide();
							 	$('#maximalize').show();
							}else{
								$('#main').css('width', '40%')	
								$('#content').load('/getspotinfo/'+event.feature.R.id)
								$('#content').show()
								$('#minimalize').show();
								$('#maximalize').hide();
								spotopen = true;
							}
						});
						}

					script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDmSbvLztiTx63qBwEO3JIzGZWWMmIYTh0&callback=initMap')
					
			#main
				div(id="minimalize")
					a(href="#") x
				div(id="maximalize")
					a(href="#") +
				#contentcontainer
					#content
						p Welcome to Spotdataba.se, your premier source for blade spots.