doctype html
html
	head
		link(rel="stylesheet" href="/css/style.css")
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-74673737-1', 'auto');
			ga('send', 'pageview');

		meta(id="viewport" name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, user-scalable=0")
		link(rel="icon" type="image/png" href="/icons/logo.png" sizes="160x160")
		title Spotdataba.se
	body
		#container
			#header
				#headerlogo
					img(src="/icons/logo.png")
				span(class="separator")
				#navigation
					a(href="#" id="addspotbutton")
						span Add spot
				span(class="separator")
				#searchcontainer
					form(id="searchBar", action="/search" method="post")
						input(type="text", id="searchTerm", name="searchTerm" placeholder="Spot" autocomplete="off")
				span(class="separator")
				#userdetails
			#mapcontainer
				#map
					script.
						$( document ).ready(function() {
							var searched = false;

							$('#userdetails').load('/userdetails')
							
							$('#addspotbutton').click(function(){
								event.preventDefault();
								$('#main').css('width', '40%')	
								$('#content').load('/addspot')
								$('#content').show()
								$('#minimalize').show();
								$('#maximalize').hide();
							})
							
							$('#minimalize').click(function(event){
								event.preventDefault()
								$('#main').css('width', '5%')	
								$('#content').toggle();
								$('#minimalize').toggle();
								$('#maximalize').toggle();
								spotopen = false;
							})

							$('#maximalize').click(function(event){
								event.preventDefault()
								$('#main').css('width', '40%')
								$('#content').toggle();
								$('#minimalize').toggle();
								$('#maximalize').toggle();
							})
							
							$('#searchBar').submit(function(event){
								event.preventDefault();
							})
							
							$('#filtertype').change(function(event){
								if($('#filtertype').val() == 'all'){
									window.map.data.loadGeoJson('/skatespots.json')
								}else{
									window.map.data.loadGeoJson('/skatespots.json', null, function(){
										window.map.data.forEach(function(feature) {
											if(feature.R.type != $('#filtertype').val()){
												window.map.data.remove(feature)
											}
										});
									})
								}
							})

							$('#searchTerm').on('keyup',function(event) {
								searched = true;
								requestTime = event.timeStamp;
								lastRequestTime = 0;
								if(requestTime - lastRequestTime > 300 || lastRequestTime === 0){
									lastRequestTime = requestTime
									$('#main').css('width', '40%')
									$('#minimalize').show();
									$('#maximalize').hide();
									$("#content").load("/search/?searchTerm="+$('#searchTerm').val())
									$('#content').show()
								} else{
									console.log("Not updating, difference under 300ms: " + (requestTime-lastRequestTime) + "ms")
								};;
							});

						})

					script(type='text/javascript').
						var spotopen = false;

						var map;
						
						function initMap() {
						
						map = new google.maps.Map(document.getElementById('map'), {
						center: {lat: 52.369, lng: 4.90},
						zoom: 14, styles: [{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"visibility":"off"}]}]
						});

						map.data.loadGeoJson('/skatespots.json')

						map.data.setStyle(function(feature) {
							var type = feature.getProperty('type');
							var iconurl;
							if(type == 'rail'){
								iconurl = '/icons/rail.png';
							} else if(type == 'curb'){
								iconurl = '/icons/curb.png'
							} else if(type == 'ledge'){
								iconurl = '/icons/ledge.png'
							} else if(type == 'bank'){
								iconurl = '/icons/bank.png'
							} else if(type == 'park'){
								iconurl = '/icons/park.png'
							} else if(type == 'shop'){
								iconurl = '/icons/shop.png'
							} else{
								iconurl = '/icons/general.png'
							}
							return {
								icon: iconurl
							};
						});

						navigator.geolocation.getCurrentPosition(function(position) {
							userposition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
							map.setCenter(userposition)
						})

						map.data.addListener('click', function(event) {
							if(spotopen === event.feature.H.id){
							 	spotopen = 0;
							 	$('#main').css('width', '5%')	
							 	$('#content').hide()
							 	$('#minimalize').hide();
							 	$('#maximalize').show();
							}else{
								$('#main').css('width', '40%')
								$('#content').load('/getspotinfo/'+event.feature.H.id)
								$('#content').show()
								$('#minimalize').show();
								$('#maximalize').hide();
								spotopen = event.feature.H.id;
							}
						});
						}

					script(async defer src="https://maps.googleapis.com/maps/api/js?v=3.24&key=AIzaSyDmSbvLztiTx63qBwEO3JIzGZWWMmIYTh0&callback=initMap")
					
			#main
				div(id="minimalize")
					a(href="#") x
				div(id="maximalize")
					a(href="#") +
				#contentcontainer
					#content
						p Welcome to Spotdataba.se, your premier source for blade spots.

			#filterbox
				select(id="filtertype" name="filtertype")
					option(value="all" selected) All spots
					option(value="rail") Rail
					option(value="curb") Curb
					option(value="ledge") Ledge
					option(value="park") Park
					option(value="bank") Bank
					option(value="shop") Shop
					option(value="general") General