script.
	$(document).ready(function() {
		$("#logoutbutton").click(function() {
			$.post('/logout').done(function() {
				$('#userdetails').load('/userdetails')
			})
		});

		$("#edituser").click(function() {
			$('#content').load('/edituser/#{userid}')
		});

		$("#loginbutton").click(function() {
			if($('#username').val() == "" || $('#userpass').val() == ""){
				$('#loginbutton').text('Please fill in both user and pass!')
			}else{
				$.post('/login', {
				username: $('#username').val(),
				userpass: $('#userpass').val()
				}).done(function(response) {
					if(response == 'success'){
					$('#userdetails').load('/userdetails')
					} else{
					$('#content').html(response)
					}
				})
				}
		});

		$("#registerbutton").click(function() {
			console.log('clickedregister')
			$('#content').load('/adduser')
		});

	})

if username != undefined
	#userinfo
		span(id="welcomemessage") Welcome back #{username}
		button(id="logoutbutton") Logout
		button(id="edituser") Edit
		span(id="separator")
else
	#loginform
		input(type="text" id="username" placeholder="Username")
		input(type="password" id="userpass" placeholder="Password")
		button(type="submit" id="loginbutton" ) Login
		span(id="separator")
		button(type ="submit" id="registerbutton") Click here to register