script.
	$(document).ready(function() {
		$("#username").click(function(event) {
			event.preventDefault();
			$('#minimalize').show();
			$('#maximalize').hide();
			$('#main').css('width', '40%')
			$('#content').load('/edituser/#{userid}')
			$('#content').show()
		});

		$("#loginbutton").click(function() {
			if($('#usernameinput').val() == "" || $('#userpass').val() == ""){
				$('#content').html('<p>Please fill in both user and pass!</p>')
			}else{
				$.post('/login', {
				username: $('#usernameinput').val(),
				userpass: $('#userpass').val()
				}).done(function(response) {
					if(response == 'success'){
					$('#main').css('width', '40%')
					$('#userdetails').load('/userdetails')
					$('#content').html('<p>Successfully logged in!</p>')
					$('#content').show()

					} else{
					$('#content').html(response)
					}
				})
				}
		});

		$('#registerbutton').click(function() {
			console.log('clickedregister')
			$('#content').load('/adduser')
		});

	})

if username != undefined
	#userinfo
		img(src="/icons/user.png" id="usericon")
		a(href="#" id="username")
			span #{username}
else
	#loginformcontainer
		form(id="loginform")
			input(type="text" id="usernameinput" placeholder="Username")
			input(type="password" id="userpass" placeholder="Password")
	span(class="separator")
	#userdetailbuttons
		button(type="submit" id="loginbutton" ) Login
		button(type ="submit" id="registerbutton") Register