html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button,
input
{
    font-size: 10pt;
}

/* Index Page*/
#header
{
    padding: 5px 5px 5px 20px;
    border-bottom: solid;
    border-width: 0.25px;
}

#container
{
	height: 100%;
    margin: 0;
    padding: 0;
}

#map
{
    display: inline-block;
    width: 70%;
    height: 100%;
}

#main
{
    display: inline-block;
    
    background-color: solid rgba(0, 0, 0, 0.85);

    width: 25%;
    
    margin-left: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

#separator
{
    margin-left: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

#navigation
{
    display: inline-block;
}

#content
{

}

#userdetails
{
    display: inline-block;
    left:0%;
}

#userdetails
{

}

#welcomemessage{
    padding-left: 10px;
    padding-right: 10px;
}

#userinfo
{

}

#registration
{

}

/* Specifics */

/*Spot Details*/
#coverdiv
  {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;

    display: none;

    width: 3000px;
    height: 2000px;

    overflow: hidden;

    background-color: rgba(0,0,0,.75);
  }

#photocontainer
{
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    width: 70%;
    height: 50%;
    margin: auto;

    border-radius: 5px;
}

#bigphoto
{
    width: 100%;
    vertical-align: center;
    border-radius: 5px;
}

#spotdetails
{
    padding-top: 10px;
}

#spotname
{
    font-weight: bolder;
}

#spottype
{
    font-size: 10pt;
    font-style: italic;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
}

#spotphoto
{
    width:100%;
    border-radius: 5px; 
}

#spotdescription
{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#editspotlink
{
    padding-top: 5px;
}

/* Forms */
#loginform
{

}

#addspotform
button
{
    font-size: 10pt;
}

#adduserform
{

}

#editspotform
{

}

#edituserform
{

}