html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Index Page*/
#container
{
	height: 100%;
    margin: 0;
    padding: 0;
}

#map
{
    display: inline-block;

    width: 60%;
    height: 100%;
}

#main
{
    display: inline-block;

    width: 30%;
    height: 100%;
    margin-left: 20px;

    vertical-align: top;
}

#navigation
{

}

#content
{

}

#userdetails
{

}

/* Specifics */
#spotdetails
{

}

#loginform
{

}

#addspotform
{

}

#adduserform
{

}

#editspotform
{

}

#edituserform
{

}

#userinfo
{

}

#registration
{

}