/* General settings*/

html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

a
{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* Desktop */

/* Index Page*/
#header
{
    display: block;
    padding: 10px 5px 5px 20px;
    border-bottom: solid;
    border-width: 0.25px;
    height: 25px;
}

#container
{
	height: 100%;
    margin: 0;
    padding: 0;
}

#mapcontainer
{
    width: 100%;
    height: calc(100% - 40px);
}

#map
{
    width: 100%;
    height: 100%;
}

#main
{
    position: absolute;
    top: calc(0% + 50px);
    right: 2%;

    background-color: rgba(255, 255, 255, 0.90);

    width: 40%;
    
    vertical-align: top;

    border-radius: 5px;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#separator
{
    margin-left: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

#navigation
{
    display: inline-block;
}

#content
{

}

#userdetails
{
    display: inline-block;
    left:0%;
}

#welcomemessage{
    padding-left: 10px;
    padding-right: 10px;
}

#userinfo
{

}

#registration
{

}

/* Specifics */

/*Spot Details*/
#coverdiv
  {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;

    display: none;

    width: 3000px;
    height: 2000px;

    overflow: hidden;

    background-color: rgba(0,0,0,.75);
  }

#photocontainer
{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    width: 70%;
    height: 50%;
    margin: auto;

    border-radius: 5px;
}

#bigphoto
{
    width: 100%;
    vertical-align: center;
    border-radius: 5px;
}

#spotdetails
{
}

#spotname
{
    padding-top: 10px;
    font-weight: bolder;
}

#spottype
{
    font-size: 10pt;
    font-style: italic;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
}

#spotphoto
{
    width:100%;
    border-radius: 5px; 
}

#spotdescription
{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#videoinfo
{
    padding-top: 5px;
    padding-bottom: 5px;
}

#editspotlink
{
    padding-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

#minimalize
{
    padding-top: 10px;
    float: right;
}

#maximalize
{
    display: none;
    padding-top: 10px;
    float: right;
}

/* Forms */
#loginform
{

}

#addspotform
button
{
    font-size: 10pt;
}

#adduserform
{

}

#editspotform
{

}

#edituserform
{

}


/* Mobile */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    
}